<% include ./_partial/head.ejs %>
<body>
    <div class="profile-card">
        <img class="avatar" src=<%= setting.avatar.bgSrc %> >
        <div class="caption">
            <img src=<%= setting.avatar.src %>>
            <h2>
                <%= setting.profile.name %>
                <span><%= setting.profile.secondName %></span>
            </h2>
            <div><%= setting.profile.description %></div>
            <%= link_to('blog', setting.url.blog) %>
            <%= link_to('resume', setting.url.resume) %>
            <%= link_to('project', setting.url.project) %>
        </div>
    </div>
<% include ./_partial/footer.ejs %>
</body>
